# 540 WEEK9_10 EXERCISES
# ACTIVITY 11

### Task-1 Connect to the supplied petsDB database

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("petsdb")

In [3]:
# Write a function to check whether the connection has been successful:
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [4]:
# print connection status:
print(is_opened(conn))

True

In [5]:
# close the connection:
conn.close()

In [6]:
# Check whether the connection is open or closed:
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

### Task 2: What are the different age groups in the persons database

In [8]:
# Find out the different age groups are in the persons database.
conn = sqlite3.connect("petsdb")
c = conn.cursor()
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall()) # print list of tables in petsdb
#There are 2 tables in petsdb : persons and pets

[('persons',), ('pets',)]

In [11]:
# option-1
for row,ppl, age in c.execute("SELECT ROW_NUMBER () OVER ( ORDER BY count(*),age) RowNum, count(*) as ppl, age FROM persons GROUP BY age ORDER BY count(*)"):
    print("{}. We have a count of {} people with age {}".format(row,ppl, age))

1. We have a count of 1 people with age 6
2. We have a count of 1 people with age 7
3. We have a count of 1 people with age 9
4. We have a count of 1 people with age 13
5. We have a count of 1 people with age 19
6. We have a count of 1 people with age 27
7. We have a count of 1 people with age 30
8. We have a count of 1 people with age 32
9. We have a count of 1 people with age 33
10. We have a count of 1 people with age 37
11. We have a count of 1 people with age 40
12. We have a count of 1 people with age 42
13. We have a count of 1 people with age 49
14. We have a count of 1 people with age 50
15. We have a count of 1 people with age 58
16. We have a count of 1 people with age 59
17. We have a count of 1 people with age 60
18. We have a count of 1 people with age 61
19. We have a count of 1 people with age 63
20. We have a count of 1 people with age 67
21. We have a count of 1 people with age 69
22. We have a count of 1 people with age 70
23. We have a count of 1 people with age 72
24. We have a count of 2 people with age 5
25. We have a count of 2 people with age 11
26. We have a count of 2 people with age 16
27. We have a count of 2 people with age 17
28. We have a count of 2 people with age 23
29. We have a count of 2 people with age 25
30. We have a count of 2 people with age 34
31. We have a count of 2 people with age 39
32. We have a count of 2 people with age 44
33. We have a count of 2 people with age 48
34. We have a count of 2 people with age 51
35. We have a count of 2 people with age 52
36. We have a count of 2 people with age 53
37. We have a count of 2 people with age 54
38. We have a count of 2 people with age 62
39. We have a count of 2 people with age 65
40. We have a count of 2 people with age 66
41. We have a count of 3 people with age 8
42. We have a count of 3 people with age 12
43. We have a count of 3 people with age 18
44. We have a count of 3 people with age 22
45. We have a count of 3 people with age 24
46. We have a count of 3 people with age 31
47. We have a count of 3 people with age 35
48. We have a count of 3 people with age 36
49. We have a count of 3 people with age 68
50. We have a count of 3 people with age 74
51. We have a count of 4 people with age 14
52. We have a count of 4 people with age 71
53. We have a count of 5 people with age 73

In [10]:
# option-2
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

### 3. Which age group has maximum number of people?

In [13]:
for ppl, age in c.execute( "SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people is {} and came from {} age group".format(ppl, age))
    break

Highest number of people is 5 and came from 73 age group

### 4. How many people do not have a full name (Last name is blank/null)

In [16]:
res = c.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print(row)
    print("Count of persons whose last_name is null - {}".format(row[0]))

(60,)
Count of persons whose last_name is null - 60

### 5. How many people has more than one pet? (*)

In [17]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People has more than one pets".format(row[0]))

43 People has more than one pets

### 6. How many pets have received treaments?

In [18]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)
    print("Count of pets received treatment is - {}".format(row[0]))

(36,)
Count of pets received treatment is - 36

### 7. How many pets have received treatment that we know the type of?

In [19]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print(row)
    print("Count of pets received treatment that we know the type is : {}".format(row[0]))

(16,)
Count of pets received treatment that we know the type is : 16

### 8. How many pets are there from the city called "east port"

In [20]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print(row)
    print("count of pets from city='east port' is : {}".format(row[0]))

(49,)
count of pets from city='east port' is : 49

### 9. How many pets are there from the city called "east port" and who received a treatment?

In [21]:
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print(row)
    print("count of pets from city='east port' and who received a treatment - {}".format(row[0]))

(11,)
count of pets from city='east port' and who received a treatment - 11