# Author: Venkat Jagadeesh Jampani
# Class: DSC540-T301 : Data Preparation
# Date: Jul 23, 2022

## The following code will perfrom the below steps.

## 1) Create A data frame using the Website data
## 2) Replace the Header in the Dataframe
## 3) Find outliners in the data
## 4) Find the duplicated 
## 5) Find missing values
## 6) Find NaN values

In [1]:
import pandas as pd

In [28]:
#reading the data from the url. 
url=pd.read_html('http://www.factiva.com/CP_Developer/ProductHelp/FDK/FDK20/registration/shared_code_tables/state_province_table/united_states_state_province_table.htm')

In [29]:
#Loading the data into the state_df from the url
state_df=url[0]

In [30]:
#printing the state_df, the below output contains : 1. Serial number 2.State code. 3. State complete name.
state_df

   Code        State/Province
0    AL               Alabama
1    AK                Alaska
2    AA              APO - AA
3    AE              APO - AE
4    AP              APO - AP
5    AZ               Arizona
6    AR              Arkansas
7    CA            California
8    CO              Colorado
9    CT           Connecticut
10   DE              Delaware
11   DC  District of Columbia
12   FL               Florida
13   GA               Georgia
14   HI                Hawaii
15   ID                 Idaho
16   IL              Illinois
17   IN               Indiana
18   IA                  Iowa
19   KS                Kansas
20   KY              Kentucky
21   LA             Louisiana
22   ME                 Maine
23   MD              Maryland
24   MA         Massachusetts
25   MI              Michigan
26   MN             Minnesota
27   MS           Mississippi
28   MO              Missouri
29   MT               Montana
30   NE              Nebraska
31   NV                Nevada
32   NH         New Hampshire
33   NJ            New Jersey
34   NM            New Mexico
35   NY              New York
36   NC        North Carolina
37   ND          North Dakota
38   OH                  Ohio
39   OK              Oklahoma
40   OR                Oregon
41   PA          Pennsylvania
42   RI          Rhode Island
43   SC        South Carolina
44   SD          South Dakota
45   TN             Tennessee
46   TX                 Texas
47   UT                  Utah
48   VT               Vermont
49   VA              Virginia
50   WA            Washington
51   WV         West Virginia
52   WI             Wisconsin
53   WY               Wyoming

In [31]:
state_dataframe = pd.DataFrame(state_df)

In [32]:
# printingg data frame : state_dataframe
state_dataframe

   Code        State/Province
0    AL               Alabama
1    AK                Alaska
2    AA              APO - AA
3    AE              APO - AE
4    AP              APO - AP
5    AZ               Arizona
6    AR              Arkansas
7    CA            California
8    CO              Colorado
9    CT           Connecticut
10   DE              Delaware
11   DC  District of Columbia
12   FL               Florida
13   GA               Georgia
14   HI                Hawaii
15   ID                 Idaho
16   IL              Illinois
17   IN               Indiana
18   IA                  Iowa
19   KS                Kansas
20   KY              Kentucky
21   LA             Louisiana
22   ME                 Maine
23   MD              Maryland
24   MA         Massachusetts
25   MI              Michigan
26   MN             Minnesota
27   MS           Mississippi
28   MO              Missouri
29   MT               Montana
30   NE              Nebraska
31   NV                Nevada
32   NH         New Hampshire
33   NJ            New Jersey
34   NM            New Mexico
35   NY              New York
36   NC        North Carolina
37   ND          North Dakota
38   OH                  Ohio
39   OK              Oklahoma
40   OR                Oregon
41   PA          Pennsylvania
42   RI          Rhode Island
43   SC        South Carolina
44   SD          South Dakota
45   TN             Tennessee
46   TX                 Texas
47   UT                  Utah
48   VT               Vermont
49   VA              Virginia
50   WA            Washington
51   WV         West Virginia
52   WI             Wisconsin
53   WY               Wyoming

In [33]:
# Replace Header : 1. State/Province to US_STATE_NAME 2. code to US_STATE_CODE

state_dataframe.columns = ['US_STATE_CODE','US_STATE_NAME']

In [34]:
#printing modified data frame:

state_dataframe

   US_STATE_CODE         US_STATE_NAME
0             AL               Alabama
1             AK                Alaska
2             AA              APO - AA
3             AE              APO - AE
4             AP              APO - AP
5             AZ               Arizona
6             AR              Arkansas
7             CA            California
8             CO              Colorado
9             CT           Connecticut
10            DE              Delaware
11            DC  District of Columbia
12            FL               Florida
13            GA               Georgia
14            HI                Hawaii
15            ID                 Idaho
16            IL              Illinois
17            IN               Indiana
18            IA                  Iowa
19            KS                Kansas
20            KY              Kentucky
21            LA             Louisiana
22            ME                 Maine
23            MD              Maryland
24            MA         Massachusetts
25            MI              Michigan
26            MN             Minnesota
27            MS           Mississippi
28            MO              Missouri
29            MT               Montana
30            NE              Nebraska
31            NV                Nevada
32            NH         New Hampshire
33            NJ            New Jersey
34            NM            New Mexico
35            NY              New York
36            NC        North Carolina
37            ND          North Dakota
38            OH                  Ohio
39            OK              Oklahoma
40            OR                Oregon
41            PA          Pennsylvania
42            RI          Rhode Island
43            SC        South Carolina
44            SD          South Dakota
45            TN             Tennessee
46            TX                 Texas
47            UT                  Utah
48            VT               Vermont
49            VA              Virginia
50            WA            Washington
51            WV         West Virginia
52            WI             Wisconsin
53            WY               Wyoming

In [35]:
# Find Any outliners in US_STATE_CODE and US_STATE_NAME
state_dataframe.describe()[['US_STATE_CODE', 'US_STATE_NAME']]

       US_STATE_CODE US_STATE_NAME
count             54            54
unique            54            54
top               AL       Alabama
freq               1             1

In [49]:
# Fromthe above output, it seems there are no outliners in the US_STATE_CODE and US_STATE_NAME

In [37]:
# Find any duplicate rows across US_STATE_CODE,US_STATE_NAMES
dupRows = state_dataframe[state_dataframe.duplicated(['US_STATE_CODE','US_STATE_NAME'])]

In [38]:
#print dupRows
dupRows

Empty DataFrame
Columns: [US_STATE_CODE, US_STATE_NAME]
Index: []

In [48]:
# The above output shows there are no duplicates in the "state_dataframe"

In [39]:
# Data cleaning activity
# Delete unnecessary columns
state_dataframe

   US_STATE_CODE         US_STATE_NAME
0             AL               Alabama
1             AK                Alaska
2             AA              APO - AA
3             AE              APO - AE
4             AP              APO - AP
5             AZ               Arizona
6             AR              Arkansas
7             CA            California
8             CO              Colorado
9             CT           Connecticut
10            DE              Delaware
11            DC  District of Columbia
12            FL               Florida
13            GA               Georgia
14            HI                Hawaii
15            ID                 Idaho
16            IL              Illinois
17            IN               Indiana
18            IA                  Iowa
19            KS                Kansas
20            KY              Kentucky
21            LA             Louisiana
22            ME                 Maine
23            MD              Maryland
24            MA         Massachusetts
25            MI              Michigan
26            MN             Minnesota
27            MS           Mississippi
28            MO              Missouri
29            MT               Montana
30            NE              Nebraska
31            NV                Nevada
32            NH         New Hampshire
33            NJ            New Jersey
34            NM            New Mexico
35            NY              New York
36            NC        North Carolina
37            ND          North Dakota
38            OH                  Ohio
39            OK              Oklahoma
40            OR                Oregon
41            PA          Pennsylvania
42            RI          Rhode Island
43            SC        South Carolina
44            SD          South Dakota
45            TN             Tennessee
46            TX                 Texas
47            UT                  Utah
48            VT               Vermont
49            VA              Virginia
50            WA            Washington
51            WV         West Virginia
52            WI             Wisconsin
53            WY               Wyoming

In [41]:
# There are no un necessary columns in the data frame, so no need to delete any columns from the existing data frame.

In [40]:
# Find missing  values
state_dataframe_cleaned = state_dataframe.dropna(how='all')

In [42]:
state_dataframe_cleaned

   US_STATE_CODE         US_STATE_NAME
0             AL               Alabama
1             AK                Alaska
2             AA              APO - AA
3             AE              APO - AE
4             AP              APO - AP
5             AZ               Arizona
6             AR              Arkansas
7             CA            California
8             CO              Colorado
9             CT           Connecticut
10            DE              Delaware
11            DC  District of Columbia
12            FL               Florida
13            GA               Georgia
14            HI                Hawaii
15            ID                 Idaho
16            IL              Illinois
17            IN               Indiana
18            IA                  Iowa
19            KS                Kansas
20            KY              Kentucky
21            LA             Louisiana
22            ME                 Maine
23            MD              Maryland
24            MA         Massachusetts
25            MI              Michigan
26            MN             Minnesota
27            MS           Mississippi
28            MO              Missouri
29            MT               Montana
30            NE              Nebraska
31            NV                Nevada
32            NH         New Hampshire
33            NJ            New Jersey
34            NM            New Mexico
35            NY              New York
36            NC        North Carolina
37            ND          North Dakota
38            OH                  Ohio
39            OK              Oklahoma
40            OR                Oregon
41            PA          Pennsylvania
42            RI          Rhode Island
43            SC        South Carolina
44            SD          South Dakota
45            TN             Tennessee
46            TX                 Texas
47            UT                  Utah
48            VT               Vermont
49            VA              Virginia
50            WA            Washington
51            WV         West Virginia
52            WI             Wisconsin
53            WY               Wyoming

In [45]:
#Columns which contains only NaN values

state_dataframe_nan = state_dataframe.isna().all()

In [46]:
state_dataframe_nan

US_STATE_CODE    False
US_STATE_NAME    False
dtype: bool

In [47]:
# All are flase - so no columns contains nan values.