In [ ]:
## The following code will perfrom the below steps.

## 1) Create A data frame using the Website data
## 2) Replace the Header in the Dataframe
## 3) Find outliners in the data
## 4) Find the duplicated 
## 5) Fix the casing

In [19]:
import requests
import pandas as pd



final_url="https://api.openweathermap.org/data/2.5/weather?q=Buffalo%20grove,IL,840&appid=bea4c605a9b8503b578ec9d91ffc6adf&units=imperial"
response = requests.get(final_url)
data = response.json()
print("Printing data")
print(data)
print("after data")
print(response.text)

Printing data
{'coord': {'lon': -89.5951, 'lat': 41.9811}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'base': 'stations', 'main': {'temp': 62.65, 'feels_like': 61.72, 'temp_min': 60.3, 'temp_max': 64.47, 'pressure': 1023, 'humidity': 66, 'sea_level': 1023, 'grnd_level': 993}, 'visibility': 10000, 'wind': {'speed': 7.92, 'deg': 81, 'gust': 17.47}, 'clouds': {'all': 41}, 'dt': 1660272984, 'sys': {'type': 2, 'id': 2002829, 'country': 'US', 'sunrise': 1660215733, 'sunset': 1660266305}, 'timezone': -18000, 'id': 4889959, 'name': 'Buffalo Grove', 'cod': 200}
after data
{"coord":{"lon":-89.5951,"lat":41.9811},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}],"base":"stations","main":{"temp":62.65,"feels_like":61.72,"temp_min":60.3,"temp_max":64.47,"pressure":1023,"humidity":66,"sea_level":1023,"grnd_level":993},"visibility":10000,"wind":{"speed":7.92,"deg":81,"gust":17.47},"clouds":{"all":41},"dt":1660272984,"sys":{"type":2,"id":2002829,"country":"US","sunrise":1660215733,"sunset":1660266305},"timezone":-18000,"id":4889959,"name":"Buffalo Grove","cod":200}

In [20]:
print(data)

{'coord': {'lon': -89.5951, 'lat': 41.9811}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'base': 'stations', 'main': {'temp': 62.65, 'feels_like': 61.72, 'temp_min': 60.3, 'temp_max': 64.47, 'pressure': 1023, 'humidity': 66, 'sea_level': 1023, 'grnd_level': 993}, 'visibility': 10000, 'wind': {'speed': 7.92, 'deg': 81, 'gust': 17.47}, 'clouds': {'all': 41}, 'dt': 1660272984, 'sys': {'type': 2, 'id': 2002829, 'country': 'US', 'sunrise': 1660215733, 'sunset': 1660266305}, 'timezone': -18000, 'id': 4889959, 'name': 'Buffalo Grove', 'cod': 200}

In [21]:
#Printing the main data for the city Buffalo Grove from the API response.
main = data['main']
print("########################################################")
print('Current Weather Conditions for: ' + data['name'])
print('Current Temp: ', main['temp'], 'degrees')
print('High Temp: ', main['temp_max'], 'degrees')
print('Low Temp: ', main['temp_min'], 'degrees')
print('Pressure: ', main['pressure'], 'hPa')
print('Humidity: ', main['humidity'], '%')
print('Cloud Cover: ', data['weather'][0]['description'])

########################################################
Current Weather Conditions for: Buffalo Grove
Current Temp:  62.65 degrees
High Temp:  64.47 degrees
Low Temp:  60.3 degrees
Pressure:  1023 hPa
Humidity:  66 %
Cloud Cover:  scattered clouds

In [22]:
# Requesting the weather data for ZIP code : 75035 (FRISCO)
#https://api.openweathermap.org/data/2.5/weather?zip=75035,us&appid=bea4c605a9b8503b578ec9d91ffc6adf&units=imperial
final_url1="https://api.openweathermap.org/data/2.5/weather?zip=75035,us&appid=bea4c605a9b8503b578ec9d91ffc6adf&units=imperial"
response = requests.get(final_url1)
data1 = response.json()
print("Printing data")
print(data1)
print("after data")

Printing data
{'coord': {'lon': -96.7524, 'lat': 33.1377}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'base': 'stations', 'main': {'temp': 87.03, 'feels_like': 88.52, 'temp_min': 83.37, 'temp_max': 89.47, 'pressure': 1014, 'humidity': 47}, 'visibility': 10000, 'wind': {'speed': 5.99, 'deg': 93, 'gust': 11.99}, 'clouds': {'all': 48}, 'dt': 1660272796, 'sys': {'type': 2, 'id': 2001388, 'country': 'US', 'sunrise': 1660218433, 'sunset': 1660267040}, 'timezone': -18000, 'id': 0, 'name': 'Frisco', 'cod': 200}
after data

In [24]:
# Printing the main attributes for city Frisco
main1 = data1['main']
print("########################################################")
print('Current Weather Conditions for ' + data1['name'])
print('Current Temp: ', main1['temp'], 'degrees')
print('High Temp: ', main1['temp_max'], 'degrees')
print('Low Temp: ', main1['temp_min'], 'degrees')
print('Pressure: ', main1['pressure'], 'hPa')
print('Humidity: ', main1['humidity'], '%')
print('Cloud Cover: ', data1['weather'][0]['description'])

########################################################
Current Weather Conditions for Frisco
Current Temp:  87.03 degrees
High Temp:  89.47 degrees
Low Temp:  83.37 degrees
Pressure:  1014 hPa
Humidity:  47 %
Cloud Cover:  scattered clouds

In [17]:
# requesting the data for henrico city
# https://api.openweathermap.org/data/2.5/weather?zip=23294,us&appid=bea4c605a9b8503b578ec9d91ffc6adf&units=imperial
final_url2="https://api.openweathermap.org/data/2.5/weather?zip=23294,us&appid=bea4c605a9b8503b578ec9d91ffc6adf&units=imperial"
response = requests.get(final_url2)
data2 = response.json()
print("Printing data")
print(data2)
print("after data")

Printing data
{'coord': {'lon': -77.398, 'lat': 37.4638}, 'weather': [{'id': 211, 'main': 'Thunderstorm', 'description': 'thunderstorm', 'icon': '11d'}, {'id': 701, 'main': 'Mist', 'description': 'mist', 'icon': '50d'}, {'id': 501, 'main': 'Rain', 'description': 'moderate rain', 'icon': '10d'}], 'base': 'stations', 'main': {'temp': 72.59, 'feels_like': 74.07, 'temp_min': 70.99, 'temp_max': 73.62, 'pressure': 1019, 'humidity': 96}, 'visibility': 8047, 'wind': {'speed': 10.36, 'deg': 100}, 'rain': {'1h': 2.73}, 'clouds': {'all': 75}, 'dt': 1660174589, 'sys': {'type': 1, 'id': 5662, 'country': 'US', 'sunrise': 1660126885, 'sunset': 1660176516}, 'timezone': -14400, 'id': 0, 'name': 'Henrico', 'cod': 200}
after data

In [25]:
# Printing the main data for Henryco city
main2 = data2['main']
print("########################################################")
print('Current Weather Conditions for ' + data2['name'])
print('Current Temp: ', main2['temp'], 'degrees')
print('High Temp: ', main2['temp_max'], 'degrees')
print('Low Temp: ', main2['temp_min'], 'degrees')
print('Pressure: ', main2['pressure'], 'hPa')
print('Humidity: ', main2['humidity'], '%')
print('Cloud Cover: ', data2['weather'][0]['description'])

########################################################
Current Weather Conditions for Henrico
Current Temp:  72.59 degrees
High Temp:  73.62 degrees
Low Temp:  70.99 degrees
Pressure:  1019 hPa
Humidity:  96 %
Cloud Cover:  thunderstorm

In [ ]:
# Will repete the same for remaining 20 cities.

In [29]:
# Adding the data to Data Frame.
import pandas as pd

mydataset = {
  
'ZIP CODE' : ["60089","75035","75034","60090","23294","1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27"],
  
'DATE' : ["10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022",
"10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022",
"10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022","10-AUG-2022"],

'LOCATION' : ["BUFFALO GROVE","FRISCO","TEST1","WHEELING","HENRICO", "Portland","San Francisco","Seattle","Los Angeles","San Diego", "Las vegas", "Phoenix", "Albuquerque", "Denver", "San Antonio","Dallas","Houston","Kansas City","Minneapolis","Saint Louis", "Chicago","Nashville","Indianapolis","Atlanta","Detroit","Jacksonville","Charlotte","Miami","Pittsburgh","Philadelphia","New York","Boston"],
'Current Temp':[1,2,3,4,5,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27],
'High Temp':[1,2,3,4,5, 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27],
'Low Temp':[1,2,3,4,5, 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27],
'Pressure':[1,2,3,4,5, 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27],
'Humidity':[1,2,3,4,5,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27],
'Cloud Cover':["heavy intensity rain","heavy intensity rain","heavy intensity rain","TEST","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1",
"TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1",
"TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1","TEST1"]

}

df = pd.DataFrame(mydataset)

In [30]:
#printing Data frame
df

,ZIP CODE,DATE,LOCATION,Current Temp,High Temp,Low Temp,Pressure,Humidity,Cloud Cover
0,60089,10-AUG-2022,BUFFALO GROVE,1,1,1,1,1,heavy intensity rain
1,75035,10-AUG-2022,FRISCO,2,2,2,2,2,heavy intensity rain
2,75034,10-AUG-2022,TEST1,3,3,3,3,3,heavy intensity rain
3,60090,10-AUG-2022,WHEELING,4,4,4,4,4,TEST
4,23294,10-AUG-2022,HENRICO,5,5,5,5,5,TEST1
5,1,10-AUG-2022,Portland,1,1,1,1,1,TEST1
6,2,10-AUG-2022,San Francisco,2,2,2,2,2,TEST1
7,3,10-AUG-2022,Seattle,3,3,3,3,3,TEST1
8,4,10-AUG-2022,Los Angeles,4,4,4,4,4,TEST1
9,5,10-AUG-2022,San Diego,5,5,5,5,5,TEST1
10,6,10-AUG-2022,Las vegas,6,6,6,6,6,TEST1
11,7,10-AUG-2022,Phoenix,7,7,7,7,7,TEST1
12,8,10-AUG-2022,Albuquerque,8,8,8,8,8,TEST1
13,9,10-AUG-2022,Denver,9,9,9,9,9,TEST1
14,10,10-AUG-2022,San Antonio,10,10,10,10,10,TEST1
15,11,10-AUG-2022,Dallas,11,11,11,11,11,TEST1
16,12,10-AUG-2022,Houston,12,12,12,12,12,TEST1
17,13,10-AUG-2022,Kansas City,13,13,13,13,13,TEST1
18,14,10-AUG-2022,Minneapolis,14,14,14,14,14,TEST1
19,15,10-AUG-2022,Saint Louis,15,15,15,15,15,TEST1
20,16,10-AUG-2022,Chicago,16,16,16,16,16,TEST1
21,17,10-AUG-2022,Nashville,17,17,17,17,17,TEST1
22,18,10-AUG-2022,Indianapolis,18,18,18,18,18,TEST1
23,19,10-AUG-2022,Atlanta,19,19,19,19,19,TEST1
24,20,10-AUG-2022,Detroit,20,20,20,20,20,TEST1
25,21,10-AUG-2022,Jacksonville,21,21,21,21,21,TEST1
26,22,10-AUG-2022,Charlotte,22,22,22,22,22,TEST1
27,23,10-AUG-2022,Miami,23,23,23,23,23,TEST1
28,24,10-AUG-2022,Pittsburgh,24,24,24,24,24,TEST1
29,25,10-AUG-2022,Philadelphia,25,25,25,25,25,TEST1
30,26,10-AUG-2022,New York,26,26,26,26,26,TEST1
31,27,10-AUG-2022,Boston,27,27,27,27,27,TEST1

In [32]:
##STEP-1
# Replace Headers in the data frame
df.columns = ['ZIP_CODE', 'DATE', 'CITY','CURR_TEMP','HIGH_TEMP','LOW_TEMP','PRESSURE','HUMIDITY','CLOUD_COVER']

In [33]:
df

,ZIP_CODE,DATE,CITY,CURR_TEMP,HIGH_TEMP,LOW_TEMP,PRESSURE,HUMIDITY,CLOUD_COVER
0,60089,10-AUG-2022,BUFFALO GROVE,1,1,1,1,1,heavy intensity rain
1,75035,10-AUG-2022,FRISCO,2,2,2,2,2,heavy intensity rain
2,75034,10-AUG-2022,TEST1,3,3,3,3,3,heavy intensity rain
3,60090,10-AUG-2022,WHEELING,4,4,4,4,4,TEST
4,23294,10-AUG-2022,HENRICO,5,5,5,5,5,TEST1
5,1,10-AUG-2022,Portland,1,1,1,1,1,TEST1
6,2,10-AUG-2022,San Francisco,2,2,2,2,2,TEST1
7,3,10-AUG-2022,Seattle,3,3,3,3,3,TEST1
8,4,10-AUG-2022,Los Angeles,4,4,4,4,4,TEST1
9,5,10-AUG-2022,San Diego,5,5,5,5,5,TEST1
10,6,10-AUG-2022,Las vegas,6,6,6,6,6,TEST1
11,7,10-AUG-2022,Phoenix,7,7,7,7,7,TEST1
12,8,10-AUG-2022,Albuquerque,8,8,8,8,8,TEST1
13,9,10-AUG-2022,Denver,9,9,9,9,9,TEST1
14,10,10-AUG-2022,San Antonio,10,10,10,10,10,TEST1
15,11,10-AUG-2022,Dallas,11,11,11,11,11,TEST1
16,12,10-AUG-2022,Houston,12,12,12,12,12,TEST1
17,13,10-AUG-2022,Kansas City,13,13,13,13,13,TEST1
18,14,10-AUG-2022,Minneapolis,14,14,14,14,14,TEST1
19,15,10-AUG-2022,Saint Louis,15,15,15,15,15,TEST1
20,16,10-AUG-2022,Chicago,16,16,16,16,16,TEST1
21,17,10-AUG-2022,Nashville,17,17,17,17,17,TEST1
22,18,10-AUG-2022,Indianapolis,18,18,18,18,18,TEST1
23,19,10-AUG-2022,Atlanta,19,19,19,19,19,TEST1
24,20,10-AUG-2022,Detroit,20,20,20,20,20,TEST1
25,21,10-AUG-2022,Jacksonville,21,21,21,21,21,TEST1
26,22,10-AUG-2022,Charlotte,22,22,22,22,22,TEST1
27,23,10-AUG-2022,Miami,23,23,23,23,23,TEST1
28,24,10-AUG-2022,Pittsburgh,24,24,24,24,24,TEST1
29,25,10-AUG-2022,Philadelphia,25,25,25,25,25,TEST1
30,26,10-AUG-2022,New York,26,26,26,26,26,TEST1
31,27,10-AUG-2022,Boston,27,27,27,27,27,TEST1

In [35]:
##SETP-2
# Find Any outliners in TEMP, pressure and Humidity
df.describe()[['CURR_TEMP','HIGH_TEMP','LOW_TEMP','PRESSURE','HUMIDITY']]

       CURR_TEMP  HIGH_TEMP   LOW_TEMP   PRESSURE   HUMIDITY
count  32.000000  32.000000  32.000000  32.000000  32.000000
mean   12.281250  12.281250  12.281250  12.281250  12.281250
std     8.344341   8.344341   8.344341   8.344341   8.344341
min     1.000000   1.000000   1.000000   1.000000   1.000000
25%     4.750000   4.750000   4.750000   4.750000   4.750000
50%    11.500000  11.500000  11.500000  11.500000  11.500000
75%    19.250000  19.250000  19.250000  19.250000  19.250000
max    27.000000  27.000000  27.000000  27.000000  27.000000

In [ ]:
# from the above there are no outliners in the data

In [36]:
##STEP-3
## Remove unecessary column CLOUD COVER

df2=pd.DataFrame(df)
del df2['CLOUD_COVER']
df2

,ZIP_CODE,DATE,CITY,CURR_TEMP,HIGH_TEMP,LOW_TEMP,PRESSURE,HUMIDITY
0,60089,10-AUG-2022,BUFFALO GROVE,1,1,1,1,1
1,75035,10-AUG-2022,FRISCO,2,2,2,2,2
2,75034,10-AUG-2022,TEST1,3,3,3,3,3
3,60090,10-AUG-2022,WHEELING,4,4,4,4,4
4,23294,10-AUG-2022,HENRICO,5,5,5,5,5
5,1,10-AUG-2022,Portland,1,1,1,1,1
6,2,10-AUG-2022,San Francisco,2,2,2,2,2
7,3,10-AUG-2022,Seattle,3,3,3,3,3
8,4,10-AUG-2022,Los Angeles,4,4,4,4,4
9,5,10-AUG-2022,San Diego,5,5,5,5,5
10,6,10-AUG-2022,Las vegas,6,6,6,6,6
11,7,10-AUG-2022,Phoenix,7,7,7,7,7
12,8,10-AUG-2022,Albuquerque,8,8,8,8,8
13,9,10-AUG-2022,Denver,9,9,9,9,9
14,10,10-AUG-2022,San Antonio,10,10,10,10,10
15,11,10-AUG-2022,Dallas,11,11,11,11,11
16,12,10-AUG-2022,Houston,12,12,12,12,12
17,13,10-AUG-2022,Kansas City,13,13,13,13,13
18,14,10-AUG-2022,Minneapolis,14,14,14,14,14
19,15,10-AUG-2022,Saint Louis,15,15,15,15,15
20,16,10-AUG-2022,Chicago,16,16,16,16,16
21,17,10-AUG-2022,Nashville,17,17,17,17,17
22,18,10-AUG-2022,Indianapolis,18,18,18,18,18
23,19,10-AUG-2022,Atlanta,19,19,19,19,19
24,20,10-AUG-2022,Detroit,20,20,20,20,20
25,21,10-AUG-2022,Jacksonville,21,21,21,21,21
26,22,10-AUG-2022,Charlotte,22,22,22,22,22
27,23,10-AUG-2022,Miami,23,23,23,23,23
28,24,10-AUG-2022,Pittsburgh,24,24,24,24,24
29,25,10-AUG-2022,Philadelphia,25,25,25,25,25
30,26,10-AUG-2022,New York,26,26,26,26,26
31,27,10-AUG-2022,Boston,27,27,27,27,27

In [37]:
#STEP-4
#find duplicate rows across CITIES and ZIPCODE
duplicateRows = df[df.duplicated(['ZIP_CODE', 'CITY'])]

In [38]:
duplicateRows

Empty DataFrame
Columns: [ZIP_CODE, DATE, CITY, CURR_TEMP, HIGH_TEMP, LOW_TEMP, PRESSURE, HUMIDITY, CLOUD_COVER]
Index: []

In [ ]:
#There is no duplicate data in ZIPCODE and CITY

In [39]:
#setp-5
#Fix Casing in Data frame, convert all the data to UPPER case

df = df.applymap(lambda s: s.upper() if type(s) == str else s)

In [40]:
df

,ZIP_CODE,DATE,CITY,CURR_TEMP,HIGH_TEMP,LOW_TEMP,PRESSURE,HUMIDITY,CLOUD_COVER
0,60089,10-AUG-2022,BUFFALO GROVE,1,1,1,1,1,HEAVY INTENSITY RAIN
1,75035,10-AUG-2022,FRISCO,2,2,2,2,2,HEAVY INTENSITY RAIN
2,75034,10-AUG-2022,TEST1,3,3,3,3,3,HEAVY INTENSITY RAIN
3,60090,10-AUG-2022,WHEELING,4,4,4,4,4,TEST
4,23294,10-AUG-2022,HENRICO,5,5,5,5,5,TEST1
5,1,10-AUG-2022,PORTLAND,1,1,1,1,1,TEST1
6,2,10-AUG-2022,SAN FRANCISCO,2,2,2,2,2,TEST1
7,3,10-AUG-2022,SEATTLE,3,3,3,3,3,TEST1
8,4,10-AUG-2022,LOS ANGELES,4,4,4,4,4,TEST1
9,5,10-AUG-2022,SAN DIEGO,5,5,5,5,5,TEST1
10,6,10-AUG-2022,LAS VEGAS,6,6,6,6,6,TEST1
11,7,10-AUG-2022,PHOENIX,7,7,7,7,7,TEST1
12,8,10-AUG-2022,ALBUQUERQUE,8,8,8,8,8,TEST1
13,9,10-AUG-2022,DENVER,9,9,9,9,9,TEST1
14,10,10-AUG-2022,SAN ANTONIO,10,10,10,10,10,TEST1
15,11,10-AUG-2022,DALLAS,11,11,11,11,11,TEST1
16,12,10-AUG-2022,HOUSTON,12,12,12,12,12,TEST1
17,13,10-AUG-2022,KANSAS CITY,13,13,13,13,13,TEST1
18,14,10-AUG-2022,MINNEAPOLIS,14,14,14,14,14,TEST1
19,15,10-AUG-2022,SAINT LOUIS,15,15,15,15,15,TEST1
20,16,10-AUG-2022,CHICAGO,16,16,16,16,16,TEST1
21,17,10-AUG-2022,NASHVILLE,17,17,17,17,17,TEST1
22,18,10-AUG-2022,INDIANAPOLIS,18,18,18,18,18,TEST1
23,19,10-AUG-2022,ATLANTA,19,19,19,19,19,TEST1
24,20,10-AUG-2022,DETROIT,20,20,20,20,20,TEST1
25,21,10-AUG-2022,JACKSONVILLE,21,21,21,21,21,TEST1
26,22,10-AUG-2022,CHARLOTTE,22,22,22,22,22,TEST1
27,23,10-AUG-2022,MIAMI,23,23,23,23,23,TEST1
28,24,10-AUG-2022,PITTSBURGH,24,24,24,24,24,TEST1
29,25,10-AUG-2022,PHILADELPHIA,25,25,25,25,25,TEST1
30,26,10-AUG-2022,NEW YORK,26,26,26,26,26,TEST1
31,27,10-AUG-2022,BOSTON,27,27,27,27,27,TEST1

In [ ]:
#All the data is converted to Upper case.